.DS_Store
*/**/.DS_Store
*/**/__pycache__
__pycache__
.vscode
.pytest_cache
# mereli/config/*.json
# mereli/checkpoints/populations/*.pickle
mereli/logs/data/*
mereli/logs/*
spike_swarm_sim/logs/data/*
scripts
*.sh
*.log
tmp/*
dist/*
build/*
*.swp
*/**/*.swp
*.svg
scancel 
job
*.prof
# *.json
.pdb-pyhist
build/
dist/
*.egg-info/
.ipynb_checkpoints/
Thumbs.db
.vscode/
.idea/
venv/
.env/
.venv/
