*/**/__pycache__
__pycache__
.vscode
.pytest_cache
# mereli/config/*.json
# mereli/checkpoints/populations/*.pickle
mereli/logs/data/*
scripts
*.sh
*.log
tmp/*
dist/*
mereli.egg-info/*
build/*
